[class^="icon-"]{
  display:inline-block;
  background-image: url(../images/spritesheet.png);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  [class^="icon-"]{
      background-image: url(../images/spritesheet@2x.png);
   }
}

.icon-cate-laonian{
  background-position: -208px -61px;
  width: 29px;
  height: 29px;
  background-size: 242px 188px;
}
.icon-cate-lvyou{
  background-position: -179px -61px;
  width: 29px;
  height: 29px;
  background-size: 242px 188px;
}
.icon-cate-shaoer{
  background-position: -150px -90px;
  width: 29px;
  height: 29px;
  background-size: 242px 188px;
}
.icon-cate-yiniao{
  background-position: -179px -90px;
  width: 29px;
  height: 29px;
  background-size: 242px 188px;
}
.icon-cate-yiwai{
  background-position: -150px -61px;
  width: 29px;
  height: 29px;
  background-size: 242px 188px;
}
.icon-finance-active{
  background-position: -44px -150px;
  width: 20px;
  height: 37px;
  background-size: 242px 188px;
}
.icon-finance-more{
  background-position: 0px -50px;
  width: 50px;
  height: 50px;
  background-size: 242px 188px;
}
.icon-finance{
  background-position: -100px -100px;
  width: 22px;
  height: 38px;
  background-size: 242px 188px;
}
.icon-form-lock{
  background-position: -168px -119px;
  width: 18px;
  height: 27px;
  background-size: 242px 188px;
}
.icon-form-lock2{
  background-position: -150px -119px;
  width: 18px;
  height: 27px;
  background-size: 242px 188px;
}
.icon-form-user{
  background-position: -208px -90px;
  width: 22px;
  height: 25px;
  background-size: 242px 188px;
}
.icon-form-verificationCode-phone{
  background-position: -64px -150px;
  width: 18px;
  height: 25px;
  background-size: 242px 188px;
}
.icon-form-verificationCode{
  background-position: -221px -23px;
  width: 21px;
  height: 25px;
  background-size: 242px 188px;
}
.icon-func{
  background-position: -186px -119px;
  width: 22px;
  height: 22px;
  background-size: 242px 188px;
}
.icon-home-active{
  background-position: -173px -23px;
  width: 24px;
  height: 36px;
  background-size: 242px 188px;
}
.icon-home{
  background-position: -197px -23px;
  width: 24px;
  height: 36px;
  background-size: 242px 188px;
}
.icon-insurance-accident{
  background-position: -50px -100px;
  width: 50px;
  height: 50px;
  background-size: 242px 188px;
}
.icon-insurance-active{
  background-position: -122px -100px;
  width: 22px;
  height: 38px;
  background-size: 242px 188px;
}
.icon-insurance-child{
  background-position: -100px -50px;
  width: 50px;
  height: 50px;
  background-size: 242px 188px;
}
.icon-insurance-health{
  background-position: 0px -100px;
  width: 50px;
  height: 50px;
  background-size: 242px 188px;
}
.icon-insurance-more{
  background-position: 0px 0px;
  width: 50px;
  height: 50px;
  background-size: 242px 188px;
}
.icon-insurance{
  background-position: -150px -23px;
  width: 23px;
  height: 38px;
  background-size: 242px 188px;
}
.icon-jijin{
  background-position: -100px 0px;
  width: 50px;
  height: 50px;
  background-size: 242px 188px;
}
.icon-left-arrow{
  background-position: -82px -150px;
  width: 8px;
  height: 13px;
  background-size: 242px 188px;
}
.icon-left-big-arrow{
  background-position: -230px -90px;
  width: 11px;
  height: 20px;
  background-size: 242px 188px;
}
.icon-licai{
  background-position: -50px -50px;
  width: 50px;
  height: 50px;
  background-size: 242px 188px;
}
.icon-logo{
  background-position: -150px 0px;
  width: 92px;
  height: 23px;
  background-size: 242px 188px;
}
.icon-myinfo-active{
  background-position: -22px -150px;
  width: 22px;
  height: 38px;
  background-size: 242px 188px;
}
.icon-myinfo{
  background-position: 0px -150px;
  width: 22px;
  height: 38px;
  background-size: 242px 188px;
}
.icon-right-big-arrow{
  background-position: -208px -119px;
  width: 14px;
  height: 19px;
  background-size: 242px 188px;
}
.icon-tip-success{
  background-position: -221px -48px;
  width: 11px;
  height: 11px;
  background-size: 242px 188px;
}
.icon-tip-unfinished{
  background-position: -222px -119px;
  width: 11px;
  height: 11px;
  background-size: 242px 188px;
}
.icon-tip-warnning{
  background-position: -100px -138px;
  width: 11px;
  height: 11px;
  background-size: 242px 188px;
}
.icon-ziguan{
  background-position: -50px 0px;
  width: 50px;
  height: 50px;
  background-size: 242px 188px;
}

